/* Using the sans-serif font Inter. Its stylesheet is: /fonts/inter.css */

@font-face {
    font-family: "jbmono";
    src: url("./fonts/JetBrainsMono-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 16px;
    background-color: var(--bg);
}

::-webkit-scrollbar-track {
    background-color: var(--bg);
    border-radius: 8px;
    box-shadow: inset 0 2px 8px black;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #444444;
}

:root {
    /* cards */
    --cardRadius: 50px;
    --cardSpacing: 20px;
    --imageDimension: 200px;
    --numberFontSize: 30pt;
    --nameFontSize: 13pt;
    --cardTextPadding: 15px;
    --cardBG: #2b2b2b;
    --cardSelectedBG: #ffffff;
    --cardSelectedText: #111111;

    /* page */
    --sectionVerticalPadding: 40px;
    --headerTopPadding: 3.5vw;
    --headerBottomPadding: 8vw;
    --sidePadding: 10vw;
    --bg: #181818;
    --coomBG: #868674;
    --darkBG: rgba(0, 0, 0, 0.5);
    --blueTears: #50C3FF;
    --blueTearsDark: #00407A;
    --titleFontSize: 4vw;
    --fontSize: 15pt;
    --lineHeight:28pt;
    --headerFontSize: 22pt;
    scrollbar-color: #444444 var(--bg);

    /* overlay */
    --overlaymajorpadding: 30px;
    --overlayminorpadding: 12px;
    --overlayBG: #101010;
    --overlaysidepadding: 10vw;
    --monospaceBG: #303030;
}


/* ===== main page ===== */

.buttonlink, .buttonlink:visited {
    display: inline-block;
    color: #000000;
    background-color: var(--blueTears);
    padding: 0.5em 1.5em;
    border-radius: 1.5em;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 0.1em 0.5em #000000;
    transition-duration: 0.2s;
    font-weight: 600;
}

.buttonlink:hover {
    background-color: var(--blueTearsDark);
    color: #ffffff;
    text-decoration: none;
    box-shadow: 0 .5em 1em #000000;
}

#footerbuttons {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.footerbutton {
    padding: 0.25em 1.5em;
    margin: 0 .75em;
}

html {
    background-color: var(--coomBG);
}

body {
    margin: 0;
    /*background-color: var(--bg);*/
    background-color: var(--coomBG);
    color: white;
    font-size: var(--fontsize);
    line-height: var(--lineHeight);
    font-weight: 300;
    font-family: "inter", Helvetica, sans-serif, Arial;
    cursor: default;
}

#bodycontent {
    display: block;
    background-color: var(--bg);
    background-image: url("./images/bg.png");
    background-position: center center;
    background-repeat: repeat;
}

.p {
    display: block;
    margin: 1em 0;
}

a, a:visited {
    color: var(--blueTears);
    background-color: transparent;
}

a:hover {
    color: white;
    background-color: var(--blueTearsDark);
}

.h1 {
    font-weight: 700;
}

.intro {
    font-weight: 200;
    font-size: 4vw;
    line-height: 1.5em;
    text-align: center;
    padding: 0px 6vw;
}

#header, #container, #footer, .module {
    cursor: default;
}

#header, #footer {
    /*background-color: var(--darkBG);*/
    padding: 0 var(--sidePadding);
    color: black;

    background-size: contain;
    background-repeat: repeat-x;

    height: 15vw;
    max-height: 512px !important;
}

#container, .module {
    padding-top: var(--sectionVerticalPadding);
    padding-bottom: var(--sectionVerticalPadding);
}

#header {
    font-size: var(--titleFontSize);
    margin-bottom: var(--sectionVerticalPadding);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    background-image: url("./images/headercoom.png");
    background-position: center bottom;
}

#footer {
    margin-top: var(--sectionVerticalPadding);
    background-image: url("./images/footercoom.png");
    background-position: center top;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#copyright {
    font-size: 9pt;
    line-height: 10pt;
    text-align: center;
    color: #696969;
}

.headertitleitem {
    padding-bottom: 2vw;
    text-shadow: 0 0 69px #fefef0;
}

#coomface {
    height: calc(var(--titleFontSize) * .75);
}

#pagetitle {
    font-weight: 800;
}

#pagedescription {
    font-weight: 300;
}

.module {
    padding-left: var(--sidePadding);
    padding-right: var(--sidePadding);
    margin: auto;
    max-width: 2048px;
}

#container {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
}

.item {
    background-color: var(--cardBG);
    margin: var(--cardSpacing);

    border-top-left-radius: var(--cardRadius);
    border-bottom-right-radius: var(--cardRadius);

    box-shadow: 0 10px 30px black;

    cursor: pointer;
    transition-property: color, background-color, box-shadow;
    transition-duration: 0.25s;
}

.firstitem {
    margin-left: 0;
}

.item:hover {
    color: var(--cardSelectedText);
}

.image {
    width: var(--imageDimension);
    height: var(--imageDimension);
    background-color: gray;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.cardText {
    padding: var(--cardTextPadding);
}

.number {
    font-size: var(--numberFontSize);
    font-weight: 700;
    text-align: right;
}

.name {
    font-size: var(--nameFontSize);
    font-weight: 400;
    text-align: left;
}

* {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.selectable {
    user-select: text !important;
    -ms-user-select: text !important;
    -moz-user-select: text !important;
    -khtml-user-select: text !important;
    -webkit-user-select: text !important;
    cursor: copy;
}

::selection { 
    background: var(--blueTears);
    color: white;
    text-shadow: none;
} ::-moz-selection { 
    background: var(--blueTears);
    color: white;
    text-shadow: none;
}

img {
    user-drag: none;
    -moz-user-drag: none;
    -khtml-user-drag: none;
    -webkit-user-drag: none;
    -o-user-drag: none;
}

/* large header */
@media (min-width: 2000px) {
    #header, #footer {
        height: 10vw;
    }

    #header {
        justify-content: space-evenly;
        font-size: 3vw;
    }
}

/* larger fonts and padding above this width */
@media (min-width: 1100px) {
    :root {
        --fontSize: 20pt;
        --lineHeight: 30pt;
        --sidePadding: 15vw;
    }
}

/* header adjustment */
@media (max-width: 1100px) {
    :root {
        --titleFontSize: 4.65vw;
        --headerBottomPadding: 12vw;

        --fontSize: 12pt;
        --lineHeight: 24pt;
    }
    
    #header, #footer {
        height: 20vw;
    }
}

/* smaller cards */
@media (orientation: portrait) and (max-width: 430px), (orientation: landscape) and (max-width: 930px) {
    :root {
        --cardRadius: 25px;
        --imageDimension: 138px;
        --numberFontSize: 11pt;
        --nameFontSize: 8pt;
        --cardTextPadding: 5px;
        --cardSpacing: 5px;
    }

    .number {
        letter-spacing: .02em;
    }

    .item {
        box-shadow: 0 2px 5px black;
    }
}

/* smaller header */
@media (max-width: 600px) {
    :root {
        --titleFontSize: 8vw;
        --fontSize: 10pt;
        --lineHeight: 20pt;
    }

    #header, #footer {
        height: 30vw;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-flow: row wrap;
        background-size: cover;

    }

    #header {
        padding-top: 4vw;
        padding-bottom: 6vw;
    }

    #footer {
        padding-top: 6vw;
        padding-bottom: 4vw;
    }

    .headertitleitem {
        line-height: 1.3em;
        padding: 0!important;
        margin:  0!important;
    }
}

/* even smaller header */
@media (max-width: 310px) {
    :root {
        --titleFontSize: 7.5vw;
        --fontSize: 10pt;
        --lineHeight: 20pt;
    }
}

/* ===== preview grid of 16 items ===== */

#previewgrid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
}

#previewgrid div {
    width: 12.5%;
    height: 12.5vw;
    background-position: center center;
    background-size: cover;
}

.innerPreviewDiv {
    width: 100% !important;
    height: 100% !important;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
}

#previewgrid div, .innerPreviewDiv {
    background-position: center center;
    background-size: cover;
}

.extrapreviewgriddiv {
    display: none;
    background-color: white;
}

@media (max-width: 900px) {
    #previewgrid div {
        width: calc(100%/6);
        height: calc(100vw/6);
    }
    
    .extrapreviewgriddiv {
        display: block;
    }
}

@media (max-width: 555px) {
    #previewgrid div {
        width: 25%;
        height: 25vw;
    }
    
    .extrapreviewgriddiv {
        display: none!important;
    }
}

/* ===== overlay ===== */

#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: auto;
    background-color: var(--overlayBG);

    display: none;
}

#overlayheader, #selectedcoomtext {
    margin: auto;
    max-width: 900px;
}

#overlayheader {
    padding: var(--overlayminorpadding) var(--overlaysidepadding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#selectedcoomnumber {
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
}

#overlayclosebox {
    width: 48px;
    height: 48px;
    background-image: url("./images/whitex.svg");
    cursor: pointer;
    border-radius: 16px;
    background-color: transparent;
    transition-duration: 0.1s;
}

#overlayclosebox:hover {
    background-color: #990000;
    box-shadow: 0 0 20px black;
}

#overlaycontent {
    width: 100%;
}

#selectedimagecontainer {
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), transparent) !important;
    padding: 0;
    margin: 0;
    border: none;
}

#selectedimage {
    background-size: contain;
    background-repeat: repeat;
    background-position: center center;
    box-shadow: 0 0 40px var(--overlayBG);

    width: 69vmin;
    height: 69vmin;
    margin: auto;
    max-width: 420px;
    max-height: 420px;
}

@media (orientation: landscape) and (min-aspect-ratio: 10/7) {
    #selectedimage {
        width: 50vmin;
        height: 50vmin;
    }
}

#selectedcoomtext {
    padding: var(--overlaymajorpadding) var(--overlaysidepadding);
}

#selectedname {
    font-size: 30pt;
    font-weight: 900;
    padding: 0 0 var(--overlaymajorpadding);
}


.selectedcoompropertyheader {
    font-size: var(--headerFontSize);
    font-weight: 700;
    padding: var(--overlaymajorpadding) 0;
}

.monospaceproperty {
    display: text;
    width: 100%;
    
    font-family: "jbmono", monospace;
    text-align: center;
    font-size: 14pt;
    word-wrap: break-word;
    word-break: break-all;
    max-width: 100%;
    resize: none;
    
    color: white;
    background-color: var(--monospaceBG);
    text-shadow: 0 0 10px black;
    transition-property: background-color;
    transition-duration: .1s;
    
    margin: var(--overlaymajorpadding) auto;
    padding: var(--overlayminorpadding);
    border-radius: 20px;
    border: none;
}

@media (min-width: 720px) {
    #selectedname {
        font-size: 40pt;
    }
}

@media (max-width: 600px) {
    #selectedname {
        font-size: 7.5vw;
    }
    
    .monospaceproperty {
        font-size: 12pt;
    }
}


#storepagebutton {
    display: inline-block;

    padding: 40px;
    margin: 50px auto 70px;
    border-radius: 6vw;
    
    text-align: center;
    font-size: 30pt;
    font-weight: 700;
    line-height: 1em;
    text-decoration: none;
    
    color: black;
    background-color: var(--blueTears);
    box-shadow: 0 5px 10px black;
    transition-property: color, background-color, box-shadow;
    transition-duration: .25s;
}

#storepagebutton:hover {
    color: white;
    background-color: var(--blueTearsDark);
    box-shadow: 0 30px 40px black;
}

@media (max-width: 450px) {
    #storepagebutton {
        font-size: 7vw;
        padding: 8vw;
    }
}
